<h1>Here are the first <%= @poems.count %> poems</h1>
<% @poems.each do |poem| %>
  <section class="poem">
    <p class="title"><%= poem[:title] %></p>
    <p class="author"><%= poem[:author] %></p>
    <p class="poem_string"><%= poem[:lines] %></p>
  </section>
<% end %>
